h1{
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bead {
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
    transition: transform 0.3s;
}
.bead:hover {
    transform: scale(1.2);
}

.bead.placeholder {
    fill: lightgray; /* Platzhalterfarbe */
}

.bead.left {
    fill: lightblue; /* Blaue Perlen für 'left' */
}